  #url{
	  
	  float: left;
	  width: 55%;
	  margin: 2em;
	  margin-top: 3em;
	  margin-left: 2em;
	  padding-bottom: 0;
	  margin-bottom: 0;
      margin-right: 0;
      padding-right: 0;

	 
  }
  #urltop{
	  height: 60px;
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  background-color: aquamarine;
	  padding-top: 17px;
  }
  #opttop{
  	  height: 60px;
  	  border-top-left-radius: 30px;
  	  border-top-right-radius: 30px;
  	  background-color: cyan;
  	  padding-top: 17px;
  }
  #options{
	  float: left;
	  width: 35%;
	  margin: 2em;
	  margin-top: 3em;
	  padding-bottom: 0;
      padding-right: 0em;
      margin-right: 0em;
      margin-left: 5em;
  }
  #root{
	  padding-left: 3em;
	  padding-top: 1.5em;
	  background-color: antiquewhite ;
	  padding-bottom: 3em;
	  border-bottom-right-radius: 30px;
	  border-bottom-left-radius: 30px;
	  margin-bottom: 0;
	  
  }
  #root2{
	  padding-left: 3.5em;
	  padding-top: 1.2em;
	  background-color: antiquewhite;
	  border-bottom-right-radius: 30px;
	  border-bottom-left-radius: 30px;
	  margin-bottom: 0;
	  padding-bottom: 4em;
      
  }
  h1{
	  font-size: 200%;
	  font-weight: 800;
	  margin: 0;
	  padding: 0;
  }